@model ExaminationSystemTT.DAL.Models.Student

@{
    ViewData["Title"] = "Delete Student";
}

<h1>Delete Student</h1>

<h3 class="text-danger">Are you sure you want to delete this student?</h3>
<div>
    <h4>Student Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.StudentId)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Phone)
        </dd>

    </dl>

    <form asp-action="Delete" method="post">
        @* Important: Include the ID to be deleted *@
        <input type="hidden" asp-for="StudentId" />
        @* Important: Anti-forgery token for security against CSRF attacks *@
        @Html.AntiForgeryToken()

        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>