@model ExaminationSystem.DAL.Models.Exam

@{
    ViewData["Title"] = "Exam Details";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Exam Information</h4>
    <hr />
    <dl class="row">
        @* Definition List for displaying details *@
        <dt class="col-sm-3">
            @* Term column (label) *@
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-9">
            @* Definition column (value) *@
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Duration) (Minutes)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class="col-sm-9">
            @* Safely display related entity name *@
            @(Model.Course?.Name ?? "N/A")
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Instructor)
        </dt>
        <dd class="col-sm-9">
            @* Safely display related entity name *@
            @(Model.Instructor?.FullName ?? "N/A")
        </dd>

        @* Add other properties you want to display here *@
        @* Example:
         <dt class="col-sm-3">
            Number of Questions
         </dt>
         <dd class="col-sm-9">
            @(Model.Questions?.Count ?? 0)
         </dd>
         *@

    </dl>
</div>
<div class="mt-3">
    @* Margin top for spacing *@
    <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>